* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #e5e5e5;
}

.header {
  background-color: #fff;
  display: flex;
  flex-direction: row;
}

h1 {
  color: #172b4d;
  font-size: 49px;
  line-height: 52px;
  text-align: left;
  width: 327px;
  padding-left: 24px;
  padding-top: 92px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.prg {
  padding-top: 12px;
  width: 355px;
  padding-left: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #344563;
  padding-bottom: 12px;
  margin: 12px 0;
}

.nav {
  text-align: right;
  padding-left: 225px;
  padding-top: 20px;
  width: 16px;
}

.logo {
  padding-left: 24px;
  width: 99px;
  height: 20px;
  padding-top: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #6070ff;
  animation: rotation 2s;
}

@keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
}

.intro {
  background-image: url(./photos/background.png);
  background-repeat: no-repeat;
  border-bottom-left-radius: 100px;
  background-color: #fff;
}

.ul-list-icons {
  display: flex;
  list-style: none;
  gap: 20px;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 136px;
}

.ul-list-icons-2 {
  display: flex;
  list-style: none;
  gap: 20px;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 34px;
}

.tonic-class-2 {
  width: 280px;
  height: 36px;
  padding-left: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #172b4d;
  margin: 12px 0;
}

.connect {
  width: 139px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 12px;
  margin-left: 24px;
}

.connect a {
  color: #7f8cff;
}

.card-section {
  background: #e5e5e5;
  padding-top: 34px;
}

.cards-ul {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-left: 16px;
}

.tonic-class {
  width: 295px;
  height: 36px;
  padding-left: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #172b4d;
  margin: 12px 0;
}

.info,
.info1,
.info2 {
  margin-right: 10px;
  margin-bottom: 4px;
  color: #7a869a;
  list-style: circle;
}

li.info0 {
  width: 63px;
  height: 20px;
  left: 0;
  top: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #344563;
}

.infor {
  margin-right: 10px;
  margin-bottom: 4px;
  color: #7a869a;
  list-style: circle;
}

.canopy {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.description {
  width: 270px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  padding-left: 16px;
  padding-top: 20px;
  padding-bottom: 12px;
}

.card {
  width: 295px;
  height: 220px;
  padding-left: 16px;
  padding-top: 16px;
  padding-right: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0;
  border-radius: 8px;
}

.card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 16px;
  padding-left: 16px;
  width: 327px;
  height: 552px;
  margin-top: 80px;
  margin-left: 25px;
  background: #fff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.card-list-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 16px;
  padding-left: 16px;
  width: 327px;
  height: 596px;
  margin-left: 25px;
  background: #fff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  flex: none;
  order: 0;
  margin-top: 88px;
  flex-grow: 0;
}

.card-list-5 {
  background-color: #fff;
  height: 1346px;
  margin-top: 114px;
  border-top-right-radius: 94px;
}

.tools {
  color: #6070ff;
  display: flex;
  gap: 8px;
  padding-bottom: 20px;
}

.tools-li {
  background-color: #ebebff;
  padding: 4px 12px;
  border-radius: 8px;
  padding-left: 16px;
}

.btn {
  color: #396df2;
  padding: 16px;
  border-radius: 10px;
  background-color: #fff;
  border: solid 1px #396df2;
  padding-left: 16px;
  width: 142px;
  font-size: 17px;
}

.btn:hover {
  color: #fff;
  background-color: #6070ff;
}

.btn:active {
  background: #2230d2;
  color: #fff;
}

.btn:disabled {
  color: #5e6c84;
  background: #f4f1f0;
}

.btn-2 {
  color: #396df2;
  padding: 16px;
  border-radius: 10px;
  background-color: #fff;
  border: solid 1px #396df2;
  padding-left: 12px;
  width: 151px;
  font-size: 17px;
  margin-left: 16px;
}

.btn-2:hover {
  color: #fff;
  background-color: #6070ff;
}

.btn-2:active {
  background: #2230d2;
  color: #fff;
}

.btn-2:disabled {
  color: #5e6c84;
  background: #f4f1f0;
}

.about-me {
  color: #172b4d;
  font-size: 49px;
  line-height: 52px;
  text-align: left;
  width: 327px;
  padding-left: 24px;
  padding-top: 92px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  display: flex;
}

.lang {
  display: flex;
  color: #000;
  height: 24px;
  font-weight: 500;
  line-height: 24px;
  font-size: 22px;
  font-family: 'Poppins', sans-serif;
}

.frame-lang {
  display: flex;
  color: #000;
  height: 24px;
  font-weight: 500;
  line-height: 24px;
  font-size: 22px;
  font-family: 'Poppins', sans-serif;
}

.lang-1 {
  display: inline-flex;
  gap: 120px;
  padding-top: 60px;
  padding-left: 36px;
  padding-bottom: 36px;
}

.lang-38 {
  display: inline-flex;
  gap: 120px;
  padding-top: 60px;
  padding-left: 36px;
  padding-bottom: 36px;
}

.lang-3 {
  display: inline-flex;
  gap: 182px;
  padding-top: 41px;
  padding-left: 36px;
  padding-bottom: 36px;
}

.tech {
  height: 67px;
  display: inline-flex;
  background-color: #f7f7f9;
  width: 303px;
  margin-left: 36px;
  border-radius: 10px;
  margin-bottom: 16px;
}

.tech-lang {
  display: flex;
  color: #253858;
  height: 24px;
  padding: 24px;
  font-family: 'poppins', sans-serif;
  font-size: 15px;
}

.tech-lang-2 {
  padding-left: 12px;
  border: 1px solid #fff;
  height: 48px;
  padding-top: 12px;
}

.hr {
  background-color: #dfe1e6;
  height: 1px;
  width: 327px;
  margin-left: 22px;
  border-radius: 0;
  margin-right: 0;
  text-align: center;
}

.form-section {
  background-image: url(./photos/contact-form.png);
  background-color: #6070ff;
  background-repeat: no-repeat;
  background-position: 145px 33px;
  height: 789px;
  border-top-left-radius: 94px;
  background-size: 229px;
  margin-top: -87px;
}

.contact-me {
  height: 56px;
  padding-top: 125px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  width: 332px;
  font-size: 43px;
  line-height: 52px;
  display: flex;
  padding-left: 70px;
  color: #fff;
}

.form-prg {
  padding-top: 72px;
  width: 342px;
  padding-left: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 21px;
  padding-right: 4px;
  line-height: 28px;
  color: #ebebff;
  text-align: center;
  padding-bottom: 37px;
}

input {
  display: flex;
  color: #172b4d;
}

input#name {
  width: 327px;
  border-radius: 7px;
  padding-left: 12px;
  height: 49px;
  margin-bottom: 12px;
  margin-left: 24px;
  color: #172b4d;
}

input#email {
  margin-left: 24px;
  border-radius: 7px;
  padding-left: 12px;
  width: 327px;
  height: 49px;
  color: #172b4d;
  margin-bottom: 12px;
  background-color: #fff;
}

input#placeholder {
  color: #172b4d;
}

textarea.msg {
  color: #172b4d;
  width: 327px;
  margin-left: 24px;
  border-radius: 7px;
  padding: 12px;
  height: 170px;
}

input:hover {
  transform: translate(20px, 10px);
}

textarea:hover {
  transform: translate(20px, 10px);
}

.about-btn {
  margin: 24px;
  color: #396df2;
  padding: 16px;
  border-radius: 10px;
  background-color: #fff;
  border: solid 1px #396df2;
  padding-left: 16px;
  width: 142px;
  font-size: 17px;
}

.about-btn:hover {
  background-color: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
  color: #fff;
}

.about-btn:active {
  background-color: #2230d2;
  color: #fff;
}

.about-btn:disabled {
  color: #5e6c84;
  background: #f4f1f0;
}

.hr-4 {
  margin-left: 98px;
  width: 137px;
  height: 5px;
  border-radius: 10px;
  background-color: #0d151e;
}

.nav-list {
  display: none;
}

.animated {
  display: none;
}

.animated-2 {
  display: none;
}

/* mobile-menu */

.pop-up {
  background-color: rgba(96, 112, 255, 0.9);
  left: 0;
  right: 0;
  top: 0;
  height: 810vh;
  bottom: 0;
  flex-direction: column;
  position: fixed;
  display: flex;
  color: #fff;
  backdrop-filter: blur(5px);
  gap: 20px;
  padding-left: 28px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  border-radius: 0;
}

.pop-up .close {
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
  font-size: 3rem;
  padding-top: 12px;
  padding-left: 307px;
  color: #fff;
}

.menu-up a {
  color: #fff;
}

/* mobile.pop-up */

.x-class {
  display: inline-flex;
}

.close-x {
  font-size: 24px;
  padding-top: 11px;
  color: #67798e;
}

.extra {
  display: none;
}

.tonic-class-23 {
  width: 290px;
  height: 36px;
  padding-left: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #172b4d;
  margin: 12px 0;
}

.card-list-23 {
  display: flex;
  flex-direction: column;
  padding-right: 16px;
  padding-left: 16px;
  width: 343px;
  height: 667px;
  background: #fff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  margin-left: 16px;
  margin-top: 24px;
}

.m-popUp {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 733px;
  bottom: 0;
  background-color: rgba(193, 199, 208, 0.8);
}

.src-description {
  width: 289px;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  padding-left: 16px;
  padding-top: -1px;
  height: 220px;
  padding-bottom: 8px;
}

.src-description-3 {
  display: none;
}

a.src-btn {
  color: #396df2;
  padding: 11px;
  border-radius: 10px;
  background-color: #fff;
  border: solid 1px #396df2;
  padding-left: 24px;
  width: 133px;
  margin-right: 4px;
  margin-left: 10px;
}

.tools-src {
  color: #6070ff;
  display: flex;
  gap: 8px;
  margin-left: 18px;
  padding-bottom: 20px;
}

li.tools-li-src {
  background-color: #ebebff;
  padding: 5px 10px;
  width: 52px;
  border-radius: 8px;
  padding-left: 11px;
}

img.nature-animated {
  display: none;
}

#form-div {
  display: none;
  color: red;
  padding: 10px;
  margin-left: 21px;
  width: 331px;
  border-radius: 8px;
  background: #fff;
}

.display {
  display: block;
}

/* @media querry */

@media screen and (min-width: 768px) {
  #form-div {
    display: none;
    color: red;
    padding: 10px;
    margin-left: 26px;
    width: 374px;
    border-radius: 8px;
    background: #fff;
  }

  .m-popUp {
    display: none;
    overflow: scroll;
    position: fixed;
    left: 0;
    padding-bottom: 500px;
    right: 0;
    height: 186%;
    top: 0;
    width: 100%;
    bottom: 0;
    background-color: rgba(193, 199, 208, 0.9);
  }

  .src-description {
    display: block;
    width: 714px;
    height: 220px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    flex: none;
    margin: 12px 0;
    padding-top: 25px;
  }

  .card-list-23 {
    display: flex;
    flex-direction: column;
    width: 1058px;
    height: 138%;
    box-sizing: border-box;
    border-radius: 16px;
    margin-top: 24px;
    background: #fff;
    border: 1px solid #ebecf0;
    box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
    margin-right: 142px;
    margin-left: 142px;
  }

  li.tools-li-src {
    background-color: #ebebff;
    padding: 5px 10px;
    width: 52px;
    border-radius: 8px;
    padding-left: 11px;
  }

  img.nature-animated {
    display: block;
    width: 981px;
    height: 35%;
    margin-left: 15px;
  }

  .src-div {
    display: inline-flex;
  }

  .src-tools {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .div-src {
    display: flex;
    flex-direction: column;
    padding-top: 24px;
  }

  .close-x {
    font-size: 24px;
    padding-top: 11px;
    margin-left: 704px;
    color: #67798e;
  }

  .extra {
    display: block;
    background-color: #ebebff;
    padding: 4px 12px;
    border-radius: 8px;
    padding-left: 16px;
  }

  .nav {
    display: none;
  }

  .main-section {
    width: 100%;
  }

  .close {
    display: none;
  }

  ul.nav-list {
    font-family: 'poppins', sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    display: inline-flex;
    gap: 10px;
    padding-top: 20px;
    color: rgb(52, 69, 99);
    height: 20px;
    padding-right: 56px;
    list-style: none;
    padding-left: 601px;
  }

  .menu-up a {
    color: rgb(52, 69, 99);
  }

  .header {
    padding-left: 155px;
    width: 100%;
    height: 48px;
  }

  a.logo {
    width: 228px;
    height: 20px;
    padding-top: 24px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #6070ff;
  }

  .intro-b {
    background-image: url("./photos/Header-bg@2x.png");
    background-repeat: no-repeat;
    background-size: 89%;
    height: 916px;
    background-position: 111px 55px;
    background-color: #fff;
  }

  h1 {
    color: #172b4d;
    font-size: 49px;
    line-height: 52px;
    text-align: left;
    width: 915px;
    padding-right: 260px;
    padding-left: 260px;
    padding-top: 228px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    display: flex;
    align-items: center;
  }

  .card {
    display: none;
  }

  .connect {
    width: 424px;
    height: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding-left: 88px;
    line-height: 24px;
    padding-bottom: 12px;
    margin-left: 24px;
  }

  .ul-list-icons {
    display: flex;
    list-style: none;
    gap: 20px;
    padding-left: 260px;
    padding-top: 12px;
    padding-bottom: 136px;
  }

  .ul-list-icons-2 {
    display: flex;
    list-style: none;
    gap: 20px;
    padding-left: 112px;
    padding-top: 25px;
    padding-bottom: 34px;
  }

  .btn-2 {
    color: #396df2;
    padding: 16px;
    border-radius: 10px;
    background-color: #fff;
    border: solid 1px #396df2;
    padding-left: 12px;
    width: 151px;
    font-size: 17px;
    margin-left: 112px;
  }

  .card-section {
    width: 100%;
  }

  .card-list {
    width: 899px;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 400px;
    justify-content: center;
  }

  .card-dsk {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-list-2 {
    width: 899px;
    display: flex;
    height: 400px;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }

  .card-list-5 {
    display: grid;
    height: 811px;
    grid-template-columns: 49% 40%;
  }

  ul.tech-list-lang {
    display: inline-flex;
  }

  .tech {
    display: flex;
    flex-direction: column;
    height: 92px;
    background-color: #f7f7f9;
    width: 109px;
    margin-left: 36px;
    border-radius: 10px;
    margin-bottom: 16px;
  }

  .tech-lang {
    display: flex;
    color: #253858;
    height: 24px;
    padding: 11px;
    font-family: 'poppins', sans-serif;
    font-size: 15px;
  }

  .tech-lang-2 {
    padding-left: 12px;
    height: 55px;
    width: 60px;
    padding-top: 12px;
  }

  .tonic-class {
    width: 12px;
    margin-top: 54px;
    height: 46px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #091e42;
  }

  .tonic-class-2 {
    width: 300px;
    height: 36px;
    margin-top: 54px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: #172b4d;
  }

  .animated {
    display: block;
    width: 332px;
    height: 342px;
    margin-right: 46px;
    border-radius: 8px;
  }

  .animated-2 {
    display: block;
    width: 332px;
    height: 342px;
    padding-top: 29px;
    margin-left: 46px;
    border-radius: 8px;
  }

  .description {
    width: 450px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    padding-left: 16px;
    padding-top: 20px;
    padding-bottom: 12px;
  }

  .desk-top {
    display: flex;
  }

  .desk-top2 {
    display: flex;
    flex-direction: row-reverse;
  }

  .about-me {
    color: #172b4d;
    font-size: 49px;
    line-height: 52px;
    text-align: left;
    width: 327px;
    padding-left: 111px;
    padding-top: 92px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    display: flex;
  }

  .prg {
    padding-top: 12px;
    width: 556px;
    padding-left: 112px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #344563;
    padding-bottom: 6px;
  }

  .text {
    padding-top: 12px;
    width: 967px;
    padding-left: 257px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #344563;
    padding-bottom: 6px;
  }

  h4.connect-text a {
    padding-left: 144px;
  }

  .lang-1 {
    display: inline-flex;
    gap: 351px;
    padding-top: 116px;
    padding-left: 36px;
    padding-bottom: 36px;
  }

  .lang-3 {
    gap: 399px;
    display: inline-flex;
    padding-top: 18px;
    padding-left: 36px;
    padding-bottom: 20px;
  }

  .lang-38 {
    gap: 351px;
    padding-top: 50px;
    padding-left: 36px;
    padding-bottom: 21px;
  }

  .lang {
    display: flex;
    color: #344563;
    height: 24px;
    font-weight: 500;
    line-height: 24px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
  }

  .frame-lang {
    color: #344563;
    font-size: 20px;
  }

  .hr {
    width: 507px;
  }

  /* form section */

  .form-section {
    background-image: url(./photos/contact-form-background-shapes@2x.png);
    background-repeat: no-repeat;
    background-position: 168px 110px;
    background-size: 1005px;
  }

  .form-div {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .form-prg {
    width: 529px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #ebebff;
  }

  input#name {
    width: 379px;
    height: 37px;
  }

  input#email {
    width: 379px;
    height: 37px;
  }

  textarea.msg {
    width: 379px;
  }

  .about-btn {
    padding: 9px;
    border-radius: 10px;
    border: solid 1px #396df2;
    width: 127px;
    margin-left: 152px;
  }

  .hr-4 {
    display: none;
  }

  .display {
    display: block;
  }
}
